* {
	margin: 0;
	padding: 0;
}

#burkan-bank {
	/*position: absolute;*/
	/*left: 40px;*/
	/*top: 40px;*/
}

#game-wrapper {
	cursor: url(salam-ready.png), auto;
	position: relative;
	width: 100%;
	height: 400px;
		-moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
	    -webkit-user-select: none;
	    -ms-user-select: none; /* From IE10 only */
	    user-select: none; /* Not valid CSS yet, as of July 2012 */
	    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
	    user-drag: none;
	/*border: 1px solid black;*/
}

#fibank-img {
	position: absolute;
	-moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
}

#coin {
	position: absolute;
	display: none;
		-moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
	    -webkit-user-select: none;
	    -ms-user-select: none; /* From IE10 only */
	    user-select: none; /* Not valid CSS yet, as of July 2012 */
	    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
	    user-drag: none;
}

#game-menu {
	/*width: 100%;*/
	height: 60px;
	background: rgba(0, 0, 0, 0.5);
	padding-left: 100px;
}

#game-menu * {
	float: left;
}

#bank-health {
	display: inline-block;
	margin-right: 50px;
}

#burkan-score, #bank-score {
	line-height: 60px;
	font-size: 40px;
	margin-left: 10px;
}

#burkan-health {
	display: inline-block;
}

.disabled {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3); /* black semi-transparent */
}

#end-result {
	position: fixed;
	z-index: 999;
	width: 300px;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
	color: red;
	text-shadow: 1px 1px 1px #000;
	font-size: 40px;
	display: none;
}